
<iframe id='googlemaps'
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAPV0_sCF_Qe5jsKsHd5DCfVC1c3yI3MLc
&origin=<%=@address%>
&destination=Richmond.+BC>" allowfullscreen>
</iframe>



<!-- <iframe
 width="600"
 height="450"
 frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAPV0_sCF_Qe5jsKsHd5DCfVC1c3yI3MLc
 &origin=Oslo
 &destination=Telemark+Norway>" allowfullscreen>
</iframe> -->


<!-- Grabing average  gas price -->

<div>
  <p>The Current Gas Price IS: </p><%= @parse_page %>
</div>
